#contactInfo{
    padding-top: 2em;
    text-align: center;
    // font-size:2.6em;
    // margin:0 auto;
    font-family: 'Open Sans';
    img{
        width: 10em;
        height: auto;
        border-radius: .7em;
    }
}