<a href='#'>Resume download</a>

<div>
    <ul>
        <li>Programming Languages: Java, C/C++, C#, Python, Haskell, VB/VBA</li>
        <li>Web Development: HTML, Javascript, CSS, PHP, Twitter Bootstrap, Material Design, JQuery, Node.js, Angular, Ionic, ReactJS, MeteorJS, Flask, AJAX, JSON, ECMA, REST, SOAP, Webpack, Gulp</li>
        <li>Database: MySQL, MS Access, MongoDB, NoSQL</li>
        <li>Version Control: Github, SVN, Bitbucket</li>
        <li>Other: Virtualization, Shell script, Docker, .NET, AWS, Unix, Unit Testing, Drupal, IIS</li>
    </ul>
</div>

<div>

</div>