
<div class="contentContainer">
    <a mat-raised-button color="warn" routerLink=".">Resume download</a>


    <div id="containerSkills">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Programming Languages</mat-card-title>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
                <ul>
                    <li>
                        Java, C/C++, C#, Python, Haskell, VB/VBA
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Database</mat-card-title>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
                <ul>
                    <li>
                        MySQL, MS Access, MongoDB/NoSQL
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card style="grid-column-start: 1; grid-column-end: 3; ">
            <mat-card-header>
                <mat-card-title>Web Development</mat-card-title>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Main</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            <li>
                                HTML, Javascript, CSS, PHP, 
                            </li>
                        </ul>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Frameworks/Libraries</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            <li>
                                JQuery, Node.js, Angular, Ionic, ReactJS, MeteorJS
                            </li>
                            <li>
                                Twitter Bootstrap, Material Design
                            </li>
                            <li>
                                Flask
                            </li>
                        </ul>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Architecture</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            REST, SOAP
                        </ul>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Other</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            AJAX, JSON, ECMA, Webpack,Gulp
                        </ul>
                    </mat-card-content>
                </mat-card>

            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Version Control</mat-card-title>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
                <ul>
                    <li>
                        Github, SVN, Bitbucket
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Other</mat-card-title>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
                <ul>
                    <li>
                        Virtualization, Shell script, Docker, .NET Framework, AWS, Unix, Unit Testing, Drupal, IIS, Arduino
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>

    </div> <!--containerSkills end-->

    <div id="containerShowcase">
        <div><h2>Software</h2></div>
        <div><h2>Raspberry Pi</h2></div>
        <div><h2>Arduino</h2></div>
    </div>

</div>