 <a mat-raised-button color="warn" routerLink=".">Resume download</a>

<div id="containerSkills">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Programming Languages</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <ul>
                <li>
                    Java, C/C++, C#, Python, Haskell, VB/VBA
                </li>
            </ul>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Database</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <ul>
                <li>
                    MySQL, MS Access, MongoDB, NoSQL
                </li>
            </ul>
        </mat-card-content>
    </mat-card>

    <mat-card style="grid-column-start: 1; grid-column-end: 3; ">
        <mat-card-header>
            <mat-card-title>Web Development</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <ul>
                <li>
                    HTML, Javascript, CSS, PHP, Twitter Bootstrap, Material Design, JQuery, Node.js, Angular, Ionic, ReactJS, MeteorJS, Flask, AJAX, JSON, ECMA, REST, SOAP, Webpack, Gulp
                </li>
            </ul>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Version Control</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <ul>
                <li>
                    Github, SVN, Bitbucket
                </li>
            </ul>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Other</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <ul>
                <li>
                    Virtualization, Shell script, Docker, .NET, AWS, Unix, Unit Testing, Drupal, IIS
                </li>
            </ul>
        </mat-card-content>
    </mat-card>

</div>


<div>

</div>