<mat-toolbar color="primary">
  <div style="display:flex; width:100%; max-width: 950px; margin:0 auto;">
    <!-- <span>Me</span> -->
   
    <nav>
     
      
    </nav>
   
      
    <nav>
      <a mat-button routerLink="/">
        <img src="https://avatars.githubusercontent.com/chhuang215"/>
      </a>
      <span style="flex:auto;"></span>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/skills">Skills</a>
      <a mat-button routerLink="/contact">Contact</a>
    </nav>
  </div>
</mat-toolbar>


<div id="contentContainer">
  <router-outlet></router-outlet>
</div>

<footer>
  <div>
    <!-- Footer -->
  </div>
</footer>

